 body {
    margin: 0;
    
}

.modal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;

}

img {
    margin: 0 auto;
    width: 600px;
}


.main {
    display: flex;
    justify-content: center;
    margin: auto;
}

.main-container > * {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;


}

.text {
    margin: auto;
    width: 400px;
    border: 1px solid black;
    border-radius: 20%;
}




.footer {
    display: flex;
    justify-content: space-between;
}


